<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tweather</title>
    <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">

  </head>
  <body>
    <nav class="navEdit">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="/images/logo.png" alt="logo" class="navLogo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/add-post" class="waves-effect waves-light btn navButton">Create Post</a></li>
      </ul>
    </div>
  </nav>
    <div class="app">
      {{{body}}}
    </div>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>Tweather</strong> by <a href="https://github.com/anna-podhajska">Ania</a>, <a href="https://github.com/ushamacdonald">Usha</a>, <a href="https://github.com/anthonymartin36">Anthony</a>, <a href="https://github.com/an-to">Annelise</a>
          </p>
          <p>
            <a class="icon" href="https://github.com/anna-podhajska/tweather">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
