<h1> All posts on weather type selected</h1>

{{#each posts}}
<div>
  {{text}} <br>
  {{name}} <br>
  {{location}}<br>
  <a href="/post-comment/{{id}}">View and add a comment to this post</a>
</div>
{{/each}}
