.navLogo {
  margin:5px;
  padding-left:10px;
  height: 90px;
}
.navEdit {
  height:100px!important;
}

.navButton {
  background-color: #33ccff!important;
}

.homeButton {
  margin-top: 20px;
  height: 50px;
  text-align: center;
  background-color: #33ccff;
  /*opacity:0.5;*/
}
.align {
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: white;
}

.cont {
  background-image: url("http://images.fondecranhd.net/sky/paneyspxr55.jpg");
  background-repeat: none;
  height:100%;
  background-position: -42px -600px;
}

.app {
  height:1000px
}

.posts {
  background-color: #33ccff;
  color: white;
  margin:15px;
}

.formStyle {
  color:white;
}

#homeTopBar {
  margin-top: 40px;

}
.postsButton {
  background-color:#EE6E73;
  margin: 3px;
}

.submitbtn {
  color:black;
}
